:root{
    --sud-blue: #114071;
    --sud-green: #8DC63F;
    --sud-black: #000000;
    --sud-gray: #808285;
    --sud-grayTwo: #ECEFF2;

}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
    padding: 80 0;
}

.nav{
    padding: 1.5rem 0;
    min-height: 60px;
    --hamburger:block;
    --close:none;
    --transform:translate(-100%);
    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-areas: "logo active";
    justify-content: space-between;
}

.nav:target{
    --close:block;
    --hamburger:none;
    --transform:translate(0)
}

.nav__logo{
    display: grid;
    grid-template-columns: max-content;
    grid-template-rows: max-content max-content;
    place-content: start;
    place-items: end center;
    z-index: 1;
}

.nav__logo p{
    margin: 0;
    color: var(--sud-blue);
    font-size: .9rem;
    font-family: Arial, Helvetica, sans-serif;
}


.nav__close,
.nav__hamburger{
    grid-area: active;
    place-self: center;
    cursor: pointer;
    z-index: 1;
}

.nav__hamburger{
    display: var(--hamburger);
}

.nav__close{
    display: var(--close);
}


.nav__img{
    display: block;
}

.nav__menu__data{
    position: absolute;
    padding: 6rem 0;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: white;
    display: grid;
    transform: var(--transform);
    transition: transform .4s;
}

.nav__links{
    display: grid;
    place-content: left center;
    gap:2rem;
}

.nav__sociales{
    display: grid;
    gap:2rem;
    grid-template-columns: repeat(5, max-content);
    place-content: start center;
}

.nav__list{
    list-style: none;
}


.nav__link{
    font-family: sans-serif;
    font-size: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--sud-blue);
    border-radius: 50%;
}

.nav__icons{
    cursor: pointer;
}


.carrusel__img{
    padding:2rem 0;
    width: 100%;
}

.informacion__container{
    font-family: lato;
    color: var(--sud-blue);
    text-align:justify;
    line-height: 1.5rem;
    padding: 0 0 2rem 0;
}

.video__video{
    width: 100%;
} 

.contacto__container{
    padding: 3rem 0;
    display: grid;
    gap:1rem;
    grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
    place-content: center;
    place-items: end;
    overflow: hidden;
}

.contacto__img{
    height:100%;
    width: 100%;
    object-fit: cover;
}

.contacto__form{
    max-width: 22rem;
    display: grid;
}

.contacto__title{
    background-color: var(--sud-green);
    padding: .5rem 0;
    display: grid;
    gap:1rem;
    grid-template-columns: min-content min-content;
    place-content: center;
    place-items: center;

}

.contacto__title p{
    margin: 0;
    font-family: lato;
    font-size: 1.5rem;
    font-weight:800;
    color: white;
}

.contacto__form form{
    padding: 2rem;
    background-color: var(--sud-grayTwo);
    display: grid;
    gap: 1rem;
}

input[type="text"]{
    height: 1rem;
    border-radius: .5rem;
    border: none;
    padding: .5rem;
}

input[type="submit"]{
    font-family: lato;
    font-size: 1rem;
    color:white;
    background-color: var(--sud-blue);
    border: none;
    border-radius: .5rem;
    padding: 1rem;
    box-shadow: 0 .2rem .5rem  var(--sud-gray) ;
    cursor: pointer;
}

.contacto__whatsapp{
    padding: 2rem;
    background-color: var(--sud-grayTwo);
}

.contacto__whatsapp p{
    font-family: lato;
    font-size: 1rem;
    color:var(--sud-blue)
}

.btn__enviar_whatsapp{
    display: block;
    padding: 1rem;
    background-color: var(--sud-green);
    border-radius: .5rem;
    text-decoration: none;
    text-align: center;
    font-family: lato;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn__enviar_whatsapp i{
    margin-right: .8rem;
    font-size: 1.5rem;
}


@media screen and (max-width:836px){
    .contacto__container{
        place-items: center;
        
    }
}
