:root{
    --sud-blue: #114071;
    --sud-green: #8DC63F;
    --sud-black: #000000;
    --sud-gray: #808285;
    --sud-grayTwo: #ECEFF2;

}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.container{
    width: 95%;
    margin: 0 auto;
    max-width: 1200px;
    padding: 80 0;
}

.linea_azul{
    width: 100%;
    height: 40px;
    background-color: #114071;
}


.nav{
    position: relative;
    padding: 1.5rem 2rem;
    min-height: 60px;
    --hamburger:block;
    --close:none;
    --transform:translate(-100%);
    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-areas: "logo active";
    justify-content: space-between;
}


.nav:target{
    --close:block;
    --hamburger:none;
    --transform:translate(0)
}

.nav__logo{
    display: grid;
    grid-template-columns: max-content;
    grid-template-rows: max-content max-content;
    place-content: start;
    place-items: end center;
    z-index: 2;
}

.nav__logo p{
    margin: 0;
    color: var(--sud-blue);
    font-size: .9rem;
    font-family: Arial, Helvetica, sans-serif;
}


.nav__close,
.nav__hamburger{
    grid-area: active;
    place-self: center;
    cursor: pointer;
    z-index: 2;
}

.nav__hamburger{
    display: var(--hamburger);
}

.nav__close{
    display: var(--close);
}


.nav__img{
    display: block;
}

.nav__menu__data{
    min-height: 30rem;
    position: absolute;
    top:5rem;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    transform: var(--transform);
    transition: transform .4s;
    z-index: 1;
}

.nav__menu__data p{
    font-family: lato;
    color: #114071;
    margin: 0;
    text-align: center;
    padding:1rem 0 0 2.5rem;
}

.nav__links{
    display: grid;
    gap:2rem;
}


.nav__sociales{
    display: grid;
    gap:2rem;
    grid-template-columns: repeat(5, max-content);
    place-content: start center;
}

.nav__list{
    list-style: none;
}


.nav__link{
    font-family: sans-serif;
    font-size: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--sud-blue);
    border-radius: 50%;
}

.nav__link__active{
    font-weight: bolder;
}

.nav__icons{
    cursor: pointer;
}


.informacion__container{
    font-family: lato;
    color: var(--sud-blue);
    text-align:justify;
    line-height: 1.5rem;
    padding: 0 0 2rem 0;
}

.informacion__container h1{
    text-align: left;
    font-weight: 800;
}



.video__video{
    width: 100%;
} 

.contacto__container{
    padding: 3rem 0;
    display: grid;
    gap:1rem;
    grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
    place-content: center;
    place-items: end;
    overflow: hidden;
}

.contacto__img{
    height:100%;
    width: 100%;
    object-fit: cover;
}

.contacto__form{
    max-width: 22rem;
    display: grid;
}

.contacto__title{
    background-color: var(--sud-green);
    padding: .5rem 0;
    display: grid;
    gap:1rem;
    grid-template-columns: min-content min-content;
    place-content: center;
    place-items: center;

}

.contacto__title p{
    margin: 0;
    font-family: lato;
    font-size: 1.5rem;
    font-weight:800;
    color: white;
}

.contacto__form form{
    padding: 2rem;
    background-color: var(--sud-grayTwo);
    display: grid;
    gap: 1rem;
}

input[type="text"]{
    height: 1rem;
    border-radius: .5rem;
    border: none;
    padding: .5rem;
}

input[type="submit"]{
    font-family: lato;
    font-size: 1rem;
    color:white;
    background-color: var(--sud-blue);
    border: none;
    border-radius: .5rem;
    padding: 1rem;
    box-shadow: 0 .2rem .5rem  var(--sud-gray) ;
    cursor: pointer;
}

.contacto__whatsapp{
    padding: 2rem;
    background-color: var(--sud-grayTwo);
}

.contacto__whatsapp p{
    font-family: lato;
    font-size: 1rem;
    color:var(--sud-blue)
}

.btn__enviar_whatsapp{
    display: block;
    padding: 1rem;
    background-color: var(--sud-green);
    border-radius: .5rem;
    text-decoration: none;
    text-align: center;
    font-family: lato;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn__enviar_whatsapp i{
    margin-right: .8rem;
    font-size: 1.5rem;
}


.directorio{
    margin-top: 2rem;
}

.directorio .historia{
    font-family: lato;
    color:#114071;
    column-count: 2;
    margin-bottom: 2rem;
}


.cards{
    display: grid;
    gap:2rem;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    place-items: start center;
}

.titulo{
    font-family: lato;
    color: var(--sud-blue);
    font-weight: 800;
}

.card{
    display: grid;
    gap:2rem;
    grid-template-columns: min-content minmax(5rem, 15rem);
}

.card__img{
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    border-radius: 50%;
}

.card__info{
    font-family: lato;
    color:var(--sud-blue);
}

.card__name{
    font-size: 1rem;
    font-weight: 800;
}

.card__ocupation{
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
}

.card__description{
    font-weight: 300;
}

.card__button{
    text-decoration: none;
    color: var(--sud-blue);
    font-weight: 800;
}

.cards__details{
    padding: 2rem 4rem;
}

.cards__details p{
    font-size: 1rem;
    font-family: Lato;
    color: var(--sud-blue);
    column-count: 2;
    column-gap: 4rem;
}

.details__edificio{
    padding: 2rem 4rem;
    font-size: 1rem;
    font-family: Lato;
    color: var(--sud-blue);
    column-count: 2;
    column-gap: 4rem;
}

li{
    padding-bottom: 1.5rem;
}

.details__ubicacion{
    padding: 2rem 4rem;
    font-size: 1rem;
    font-family: Lato;
    color: var(--sud-blue);
    column-count: 2;
    column-gap: 4rem;
}

.noticias__info_error{
    font-family: lato;
    color: var(--sud-blue);
    text-align:center;
}

.noticias__title{
    font-family: lato;
    color: var(--sud-blue);
}

.noticias__container{
    font-family: lato;
    color: var(--sud-blue);
}


.noticias__imagen{
    max-width:527px;
    max-height: 596px;
    overflow: hidden;
    float: right;
    padding:0 0 5px 20px;
}

.noticias__imagen img{
    width: 100%;
    object-fit: cover;
}

.busqueda__container{
    display: grid;
    gap:2rem;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-template-rows: minmax(350px, 1fr);
    justify-items: center;
    align-items: start;
    margin-top: 5rem;
}

.busqueda__results{
    min-height: 15rem;
    min-width: 350px;
    font-family: lato;
    color: var(--sud-blue);
}

.txt__busqueda{
    width: 90%;
}

.text__resultado__busqueda{
    font-family: lato;
    font-size: 1.2rem;
    font-weight: bold;
}

.noticias__list{
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: lato;
    font-size: 1.2rem;
}

.noticias__list li{
    margin-bottom: 1.5rem;
    cursor: pointer;
}

.documentos{
    margin: 5rem 0 10rem 0;
    display: grid;
    gap: 10rem;
}

.documentos__container{
    overflow: hidden;
    position: relative;
}

.documentos__img{
    width: 100%;
    height: 451px;
    object-fit: cover;
}

.documentos__texto{
    overflow: hidden;
    max-width: 350px;
    position:absolute;
    bottom: calc(50% - 25px);
    left: calc(50% - 50px);
}

.documentos__texto__titulo{
    font-family: lato;
    font-weight: bold;
    font-size: 2.5rem;
    color: white;
}

.boton__documentos{
    display: inline-block;
    font-family: lato;
    font-size: 1.2rem;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    color:#114071;
    text-decoration: none;
    min-width: 250px;
    border-radius: 1rem;
    text-align: center;
    padding: 1rem;
    background-color: rgba(141, 198, 63, 1);
}

.imagen__container{
    width: 100%;
    max-height: 451px;
    overflow: hidden;
    aspect-ratio: 16 / 9;
}

.imagen{
    width: 100%;
    height: auto;
    object-fit: cover;
}

@media screen and (min-width: 1200px){
    .nav{
        --hamburger:none;
        justify-content: space-between;
        align-items: center;
    }
    
    .nav:target{
        --close:none;
        --hamburger:none;
    }
    
    
    .nav__logo p{
        margin: 0;
        color: var(--sud-blue);
        font-size: .9rem;
        font-family: Arial, Helvetica, sans-serif;
    }
        
    .nav__menu__data{
        min-height: 60px;
        width: 100%;
        padding:0;
        position: unset;
        background-color: white;
        transform: unset;
    }

    .nav__menu__data p{
        font-family: lato;
        color: #114071;
        margin: 0;
        text-align: right;
    }

    .nav__opciones{
        padding: 0;
        display: flex;
    }
    
    .nav__links{
        display: grid;
        grid-auto-flow: column;
        justify-content: center;
        place-content: left center;
        gap:1.5rem;
        padding-right: 7rem;
    }
    
    .nav__sociales{
        display: grid;
        gap:2rem;
        grid-template-columns: repeat(5, max-content);
        place-content: start center;
    }
    
    .nav__list{
        list-style: none;
    }
    
    
    .nav__link{
        font-family: sans-serif;
        font-size: 1.1rem;
        text-decoration: none;
        text-transform: uppercase;
        color: var(--sud-blue);
        border-radius: 50%;
    }
    
    .nav__icons{
        cursor: pointer;
    }
}


@media screen and (max-width:836px){
    .contacto__container{
        place-items: center;
        
    }

    .cards{
        justify-content: center;
        gap:3rem;
    }
        .card{
        display: grid;
        gap: 1rem;
        grid-template-columns: 15rem;
        place-items: center;
    }

    .cards__details{
        padding: 0;
    }

    .cards__details p{
        column-count: 1;
    }

    .details__edificio{
        padding: 0;
        column-count: 1;
    }

    .details__ubicacion{
        color: var(--sud-blue);
        column-count:1;
        padding: 0;
}

.noticias__imagen{
    max-width:527px;
    max-height: 596px;
    overflow: hidden;
    float: right;
    padding:0 0 15px 0px;
}



}

