.sustentabilidad__main__image{
    max-height: 451px;
}

.sustentabilidad__container{
    min-height: 800px;
    font-family: lato;
    color: var(--sud-blue);
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:10rem;
}

.sustentabilidad__column__01 h1{
    font-size: 32px;
}

.sustentabilidad__column__01 p{
    font-size: 21px;
}

.sustentabilidad__column__02 p{
    margin-top: 9.9rem;
    font-size: 21px;
}

.sustentabilidad__title{
    margin-top: 5rem;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 2rem;
}

.sustentabilidad__subtitle{
    margin-top: 4rem;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 2rem;
}

@media screen and (max-width:836px){
    .sustentabilidad__container{
        grid-template-columns: 1fr;
        gap: 0.5em;
    }

    .sustentabilidad__column__02 p{
        margin: 0;
        margin-bottom: 5rem;
    }
}